# Database
DATABASE_URL="postgresql://user:password@localhost:5432/subscription_trust"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-min-32-chars"

# API
NEXT_PUBLIC_API_URL="http://localhost:3000"
